.profile {
    border-radius: 50%;
    height: 40vh;
}

.introcontainer {
    margin: auto;
    padding: 0vh 10vw;
}

.intropara {
    font-size: 3vh;
    font-weight: lighter;
}

@font-face {
    font-family: typewriterFont;
    src: url(../../assets/veteran\ typewriter.ttf);
}

.page-title {
    font-family: typewriterFont;
    font-weight: lighter;
    letter-spacing: 1rem;
}