.logo {
    height: 6vh;
    margin: 0 15px 0 4px;
}

.profile {
    border-radius: 50%;
    height: 40vh;
}

.introcontainer {
    margin: auto;
    padding: 0vh 10vw;
}

.intropara {
    font-size: 3vh;
    font-weight: 300;
}

@font-face {
    font-family: typewriterFont;
    src: url(../../assets/veteran\ typewriter.ttf);
}

.dimension {
    font-size: 1.5vh;
    font-weight: 100;
}