.project {
    width: 80%;
    height: 30vh;
    margin: 16px 10px auto;
    border: 0px;
    border-radius: 10px;
    box-shadow: 0 0 5px 0px #F8FFFB;
    text-align: center;
    background-color: transparent;
    color: white;
}

.project-image {
    height: 20vh;
    width: auto;
}

.project-title {
    text-align: left;
    color: #F8FFFB;
}

.project-description {
    padding: 0px 16px;
    text-align: left;
}

.repo-link {
    float: right;
    margin: -3vh 1vw;
    background-color: #F8FFFB;
    box-shadow: 0 0 3px 1px #7CB88C;
    border-radius: 10px;
    border: 0px;
}

.repo-link:hover {
    box-shadow: 0 0 3px 2px #7CB88C;
}

.github-logo {
    padding: 4px;
    height: 4vh;
    vertical-align: middle;
}

.view-repo {
    vertical-align: middle;
    padding: 0px 4px;
    font-weight: bold;
    text-decoration: none;
}