.project {
    width: 80%;
    height: 20vh;
    margin: 0 10px auto;
    border: 0px;
    border-radius: 10px;
    /* box-shadow: 0 0 5px 0px #F8FFFB; */
    text-align: center;
    background-color: transparent;
    color: white;
}

.project-image {
    height: 14vh;
    width: auto;
}

.project-title {
    text-align: left;
    color: #E6AF2E;
    font-size: 3vh;
}

.project-description {
    margin: 0 2vw 0 0;
    text-align: left;
    font-size: 2.5vh;
}

.repo-link {
    float: right;
    margin: 8vh 1vw;
    background-color: transparent;
    box-shadow: 0 0 3px #7CB88C;
    border-radius: 10px;
    border: 0px;
    color: #48504A;
    font-weight: 300;
}

.repo-link:hover {
    box-shadow: 0 0 3px 2px #7CB88C;
    background-color: #7CB88C;
    color: #171D1C;
    font-weight: bold;
}

.github-logo {
    padding: 4px;
    height: 4vh;
    vertical-align: middle;
}

.view-repo {
    vertical-align: middle;
    padding: 0px 4px;
    text-decoration: none;
}